.idea
*.log
tmp/
deps/

*.py[cod]
*.egg
build
venv/

.julia/

out/
library/
library_old/
flex_julia/experiments/simulation/
flex_julia/experiments/rotate.obj
flex_julia/FleX/bin/linux64/
flex_julia/FleX/lib/linux64/
flex_julia/kimImage.simg

analysis/out/
analysis/data/out_*

juliaPyFlex.simg
